body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} 

.offcanvas-header, .offcanvas-body {
  background-color: #212529; 
  color: #ffffff;
}
.toast-icon {
  width: 24px; /* Example size */
  margin-right: 10px;
}
